<style type="text/css">
   h1{
    color:white;
   }
</style>
<h1>Nuevo Cliente</h1>

<%= render 'form'%>

<%= link_to 'Lista de Clientes', clientes_path , class:"big ui button, ui inverted blue button"%>
