<style type="text/css">

  h1{
    color:white;
   }
</style>
<h1>Editar Mascota</h1>

<%= render 'form' %>

<%= link_to 'Ver', @mascotum , class:"btn btn-info"%> 
<%= link_to 'Home Mascotas', mascota_path , class:"btn btn-primary"%>
