<style type="text/css">
   h1{
    color:white;
   }
</style>
<h1>Nuevo Producto</h1>

<%= render 'form' %>

<%= link_to 'Lista de Productos', prodcutos_path,  class: "big ui button, ui inverted blue button" %>
