<style type="text/css">
   h1{
    color:white;
   }
</style>
<h1>Nuevo Veterinario</h1>

<%= render 'form' %>

<%= link_to 'Lista de veterinarios', veterinarios_path, class:"big ui button, ui inverted blue button" %>
