
<style type="text/css">
   h1{
    color:white;
   }
</style>
<h1>Nueva Venta</h1>

<%= render 'form' %>

<br><%= link_to 'Lista de Ventas', venta_path ,  class: "big ui button, ui inverted blue button" %>
