<style type="text/css">
	body{
		background-color: #043D2C;
		text-align: center;
		color:white;
	}
</style>
<div id ="muestra">
		<h1><strong> Acerca de la veterinaria:</strong> </h1>
		<%= image_tag "secundarioA.jpg", :alt => "Twitter", :title => "logoVeterinaria",width:"880px",height:"440px"%>
		<h4>Nuestra misión es ofrecer un servicio dedicado y de buen trato,<br> tanto al cliente como a su mascota, esforzándonos en atender las necesidades específicas de cada una de ellas.<br>
Ponemos nuestro mayor empeño en el diagnóstico preciso de las patologías que aquejan a nuestros pacientes,<br> actualizándonos a diario en la clínica de animales de compañía.</h4>
	</div>
