<style type="text/css">
	body{
		background-color: #043D2C;
		text-align: center; 
		color:white;
	}
</style>	
		<h1><strong> Contactanos a:</strong> </h1>
		<ul>
		  <h3>Esteban Zurita</h3>
		  <h3>Luis Veizaga</h3>
		  <h3>Ale Siles</h3>
		  <h3>Gabriel Lucuy</h3>
		</ul>
	

