<style type="text/css">
	body{
		background-color: #043D2C;
		text-align: center; 
		color:white;
	}
</style>	
		<h1><strong> Contactanos a:</strong> </h1>
		<ul>
		  <h4>Esteban Zurita</h4>
		  <h4>Luis Veizaga</h4>
		  <h4>Ale Siles</h4>
		  <h4>Gabriel Lucuy</h4>
		</ul>
	

