<style type="text/css">
	body{
		background-color: #043D2C;
		text-align: center;
		color:black;
	}
</style>

<div id = "muestra">
         <div class="container">
		<div class="jumbotron">
		<h1><strong> Contactanos a:</strong> </h1>
      <h4>Esteban Zurita - estebanzurita316@gmail.com</h4>
		  <h4>Luis Veizaga - luisnlbs4@gmail.com</h4>
		  <h4>Ale Siles - alejandra_siles_a@hotmail.com</h4>
		  <h4>Gabriel Lucuy - gabriellucuy@gmail.com</h4>
	   </div>
	   </div>
	 </div>
		 
