<style type="text/css">
	body{
		background-color: #043D2C;
		text-align: center; 
		color:white;
	}
</style>	
		<h1><strong> Veterinaria</strong> </h1>
		<%= image_tag "principal.jpg", :alt => "Twitter", :title => "logoVeterinaria" , class:"img-circle"%>
		<h3>Bienvenido</h3>
		<%= link_to 'Clientes', clientes_path ,class:"btn btn-warning" %>
		<%= link_to 'Productos', prodcutos_path ,class:"btn btn-warning" %>
		<%= link_to 'Mascotas', mascota_path, class:"btn btn-warning" %>
		
	

