<style type="text/css">
	body{
		background-color: #D29371;
		text-align: center; 
	}
</style>
	
		<h1><strong> Veterinaria</strong> </h1>
		<%= image_tag "principal.jpg", :alt => "Twitter", :title => "logoVeterinaria" , class:"img-circle"%>
		<h3>Bienvenido</h3>
		<%= link_to 'Cliente', clientes_path ,class:"btn btn-default" %>
		<%= link_to 'Productos', prodcutos_path ,class:"btn btn-default" %>
		<%= link_to 'Mascotas', mascota_path, class:"btn btn-default" %>
		
	

