<style type="text/css">

  h1{
    color:white;
   }
</style>
<h1>Editar Atencion</h1>

<%= render 'form' %>

<%= link_to 'Ver', @atencion , class:"btn btn-info" %> |
<%= link_to 'Home Mascotas', atencions_path , class:"btn btn-primary"  %>
