<style type="text/css">
   h1{
    color:white;
   }
</style>
<h1>Nueva Atencion</h1>

<%= render 'form' %>

<%= link_to 'Lista de Atenciones', atencions_path,  class:"big ui button, ui inverted blue button"  %>
