<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<p> Este sistemade informacion  tealiza las siguientes responsabilidades: </br>
	- Registra clientes</br>
	- Registra mascotas</br>
	- Registra productos</br></p>
