<style type="text/css">
   h1{
    color:white;
   }
</style>
<h1>Nuevo Turno</h1>

<%= render 'form' %>

</br><%= link_to 'Home Turnos', turnos_path, class:"big ui button, ui inverted blue button" %>
